@font-face {
  font-family: 'Lulo Outline'; /*a name to be used later*/
  src: url('LuloCleanOutlineBold.otf'); /*URL to font*/
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.icons {
  font-family: 'devicons';
}

ul {
  list-style: none;
}

h1 {
  font-size: 80px;
  font-family: 'Lulo Outline';
  color: whitesmoke;
  letter-spacing: 14px;
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
}

h2 {
  font-size: 40px;
  font-family: 'Lulo Outline';
  color: black;
  letter-spacing: 6px;
}

h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 30px auto;
  font-weight: 100;
  letter-spacing: 4px;
}

h4 {
  color: black;
  font-size: 24px;
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
  color: black;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  font-weight: 500;
  letter-spacing: 3px;
}

.navbar {
  /* background-color: #282c34; */
  /* border-bottom: 1px solid black; */
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

/* .title-name {
  padding: 100px;
  margin: 20px auto 200px auto;
  background-image: url('./purple_plant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
} */
/* 
.title {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;
} */
.title{
  height: 90vh;
}
.brand-statement {
  /* background-image: linear-gradient(to right, rgb(170, 117, 194), rgba(31, 6, 43, 1)); */
  /* background: rgba(254, 1, 1, 0.298039); */
  /* border: 2px solid black; */
  color: grey;
  padding: 10px;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  margin-top: 125px;
  display: flex;
  justify-content: center;
}

.about {
  padding: 20px;
  margin: 20px auto;
  background-color: rgba(254, 1, 1, 0.298039);
  color: whitesmoke;

}

.about-p {
  margin: 20px auto;
  font-family: 'Josefin Sans', sans-serif;
  width: 50vw;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 2px;
}

.about-image {
  width: 250px;
  height: 250px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 75%;
}

.about-section {
  display: flex;
  align-items: center;
  background: rgba(191, 130, 130, 0.5);
}

.about ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.about li {
  margin: 30px;
}

.skills {
  background-color: white;
  padding: 10px;
  margin: 30px auto;
}

.skills-title {
  color: rgba(254, 1, 1, 0.298039);

  font-weight: 700;
}

.skill-couple {
  color: black;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
}

.projects {
  padding: 20px;
  margin: 20px auto;
  color: rgb(66, 40, 79);
}

.project {
  background:rgba(254, 1, 1, 0.07);
  /* border: 20px solid rgba(31,6,43,.6); */
  padding: 15px;
  margin: 10px;
  border-radius: 50%;
  width: 35vw;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.project a {
  /* color: whitesmoke; */
  letter-spacing: 1px;
  border: 1px solid black;
  padding: 6px;
  text-decoration: none;
}

.projects-title {
  color: rgb(66, 40, 79);
  font-family: 'Lulo Outline';
}

.projects-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image {
  width: 25vw;
  border: 10px solid whitesmoke;
}

.projects ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid rgb(247, 93, 93); */
  /* width: 40vw; */
}

.projects li {
  margin: 10px auto;
  font-family: 'Josefin Sans', sans-serif;
}

.contact {
  padding: 20px 0;
  background-color: rgba(10, 189, 240, 0.298039);
  color: black;
}
.contact li {
  letter-spacing: 1.5px;
}

.contact-link {
  color: black;
}

.contact ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 0;
}

li {
  font-family: 'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


li {
  list-style: none;
}
